body {
    color: white;
    font-family: 'Rubik', sans-serif;
}

#image {
    width: 100vw;
    height: 70vh;
    position: fixed;
    background-image: url("images/car-view.jpg");
    background-repeat: no-repeat;
}

#dashboard {
    width: 100vw;
    height: 50vh;
    position: fixed;
    top: 450px;
    background-image: url(images/car-dashboard.png);
    background-repeat: no-repeat;
}

#interface {
    height: 200px;
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(23, 23, 23);
}

#top {
    display: flex;
    position: relative;
    top: -25px;
    justify-content: space-between;
}

#result, #bar, #controls {
    position: relative;
    top: -60px;
}

#result {
    font-size: 23px;
    line-height: 33px;
    margin-bottom: -10px;
}

#bar, #timebar {
    width: 500px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: -10px;
    background-color: gray;
    overflow: hidden;
}

#timebar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    visibility: hidden;
}

#controls {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    font-size: 30px;
}

#changebutton {
    font-size: 50px;
    position: relative;
    top: -10px;
}

#forwardbutton, #backbutton {
    color: gray;
}

footer {
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 33px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.textappear {
    animation: appear 1s 1;
}

@keyframes update {
    0% {
        width: 0px;
    }
    100% {
        width: 500px;
    }
}

.timecount {
    animation: update 60s 1;
}