* {
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    color: lavenderblush;
    transition: all 2s;
    font-family: 'Unbounded', serif;
}

body.switch {
    background-color: #472e3b;
    color: rgb(216, 152, 132);
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

#heading
{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

h2
{
    position: relative;
    top: 10px;
}

header {
    margin: 0 auto 2em auto;
    font-style: italic;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-image: url(images/ucd-skyline.JPG);
    color: #333;
    border: 5px lavenderblush ridge;
    /* overflow: hidden; */
    display: grid;
	place-items: center;
}

#banner.switch {
    background-image: url(images/ucd-skyline-raw.JPG);
    border: 5px rgb(216, 152, 132) ridge;
    transition: all 2s;
}

#banner.revert {
    background-image: url(images/ucd-skyline.JPG);
    border: 5px lavenderblush ridge;
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

section {
    width: 23%;
    border: 5px lavenderblush ridge;
    color: lavenderblush;
    margin: 0 .25em;
    padding: 1em;
    transition: all 2s;
}

section.switch {
    border: 5px rgb(216, 152, 132) ridge;
    color: rgb(216, 152, 132);
    transition: all 2s;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: rgb(177, 177, 177);
    transition: all 2s;
}

section a:hover {
    background-color: lavenderblush;
    color: #333;
}

section.switch a {
    color: rgb(181, 120, 120);
    transition: all 2s;
}

section.switch a:hover {
    background-color: rgb(216, 152, 132);    
    color: rgb(112, 77, 77);
}

button {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 12px;
    background-color: lavenderblush;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    cursor: pointer;
}

button.switch {
    background-color: rgb(216, 152, 132);    
    color: rgb(112, 77, 77);
    transition: all 2s;
}

button.revert {
    background-color: lavenderblush;    
    color: #333;
    transition: all 2s;
}

button.switch:hover {
    background-color: rgb(193, 136, 119);    
    color: rgb(112, 77, 77);
}

.showing {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}