/* original styling */
/* body {
    font-family: 'Arsenal';
    font-weight: 700;
    background-color: black;
    color: lavenderblush;
    overflow: hidden;
}

div {
    display: flex;
    width: 850px;
    margin: 0 auto;
    padding: 185px;
}

p {
    width: 375px;
    margin: 0 auto;
    line-height: 1.5em;
    align-self: center;
} */

body {
    font-family: 'Unbounded';
    font-weight: 700;
    background-color: black;
    color: lavenderblush;
}

#container {
    display: flex;
    width: 850px;
    margin: 0 auto;
    gap: 20px;
    padding-top: 125px;
}

h1, h2, p, section, ul {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    align-self: center;
}

section {
    display: flex;
    width: 1150px;
    gap: 20px;
    padding-top: 100px;
    padding-left: 55px;
}

#section2 {
    padding-bottom: 100px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px lavenderblush ridge;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

p, li {
    font-family: 'Ysabeau';
    font-size: 18px;
    line-height: 1.5em;
}

#image {
    width: 400px;
    margin-left: 10px;
    border: 5px lavenderblush ridge;
}

.image-div {
    display: flex;
}

.image-row {
    width: 175px;
    margin-left: 10px;
    border: 5px lavenderblush ridge;
}

.text-div {
    align-self: center;
}

.text-container {
    position: relative;
    top: 100px;
}