/* original styling */
/* body {
    font-family: 'Arsenal';
    font-weight: 700;
    background-color: black;
    color: lavenderblush;
    overflow: hidden;
}

div {
    display: flex;
    width: 850px;
    margin: 0 auto;
    padding: 185px;
}

p {
    width: 375px;
    margin: 0 auto;
    line-height: 1.5em;
    align-self: center;
} */

body {
    font-family: 'Unbounded';
    font-weight: 700;
    background-color: black;
    color: lavenderblush;
}

h1, h2, h4, p, section, ul, ol {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    align-self: center;
}

.container {
    display: flex;
    width: 850px;
    margin: 0 auto;
    gap: 20px;
}

.text-container {
    display: flex;
    width: 1100px;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 5px lavenderblush ridge;
}

section {
    display: flex;
    width: 1100px;
    gap: 20px;
    margin-bottom: 30px;
}

.text-div {
    padding: 20px;
}

.image-div {
    display: flex;
}

#small-container {
    margin-top: 150px;
}

#mid-container {
    margin-top: 85px;
}

#left-div p, #left-div ol, #left-div ul {
    width: 450px;
}

#right-div {
    padding-left: 0px;
}

#right-div p {
    width: 450px;
}

#image {
    width: 400px;
}

.image-row {
    width: 175px;
    border: 5px lavenderblush ridge;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.citation {
    width: 475px;
    height: 150px;
    padding: 20px;
    margin-left: 25px;
    align-self: center;
    border: 5px lavenderblush ridge;
}

#source2 h3 {
    height: 172px;
}

#source3 h3 {
    height: 130px;
}

p, li, ol {
    font-family: 'Ysabeau';
    font-size: 18px;
    line-height: 1.5em;
}

li {
    margin-left: 20px;
}

a, a:visited {
    color: lavenderblush;
}

.border {
    border: 5px lavenderblush ridge;
}

.divider {
    border-right: 5px lavenderblush ridge;
}

.center {
    align-self: center;
}