* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#lyrics p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.fa-yin-yang {
    position: absolute;
    top: 45%;
    left: 47%;
    font-size: 72px;
    color: white;
    transform: translate(-50%, -50%);
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}